// $bp-medium: 56.25em;  // 900/16

.movie-gallery {
	// width: 85vw;
	width: 100%;
	display: flex;
	padding-top: 1rem;  
  flex-direction: column;
  align-items: center;  
  color: var(--color-grey-light-3);

}

.gallery {
  // remove list styles
  margin: 0;
  padding: 0;
	list-style: none;
	
  width: 100%;
  height: auto;
  display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly; 
	& a {
		text-decoration: none;
	} 
}

.gallery-item:not(:last-of-type) {
	margin-bottom: 4rem;
}

.gallery-img {
	width:18.4rem;
	height: 27.8rem;
	border-radius: 5px;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.4);
}

.gallery-caption {
	width:18.4rem;
	margin: 0;
	padding: .8rem;
	font-size: 1.4rem;
	background: var(--color-primary-dark);
	color: var(--color-grey-light-3);
	border-radius: 5%;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);

	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;	
	
	
}

.pageLinks {
	width: 60%;
	margin-bottom: 1.5rem;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	position: relative;

	& li {
		border: 2px solid var(--color-grey-light-4);				
		width: 4rem;
  		height: 4rem;
		padding: 0;
		top: 1rem;
		border-radius: 50%;
		box-shadow: var(--shadow-dark);		
		&:hover {
			cursor: pointer;			
			background-color: var(--color-tertiary);	
		}
		& span {
			position: relative;
			top: .9rem;			
		}		
	}
}
// prevent clicking on the span number element 
.li-page-num > * {
 pointer-events: none;
 
}

.pageLinks .li-page-num__active {
	background-color:  var(--color-tertiary);
}

// Responsive Styles
@media screen and(max-width: $bp-smallest) {
	.pageLinks {
		width: 100%;
		margin-bottom: 1.5rem;
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		position: relative;
	
		& li {
			border: 2px solid var(--color-grey-light-4);				
			width: 3rem;
			height: 3rem;
			padding: 0;
			top: 1rem;
			border-radius: 50%;
			box-shadow: var(--shadow-dark);		
			&:hover {
				cursor: pointer;			
				background-color: var(--color-tertiary);	
			}
			& span {
				position: relative;
				top: .5rem;			
			}		
		}
	}
}
@media screen and(max-width: $bp-mobile) {
	.gallery-img {
		width: 40vw;
		height: auto;
	}
	.gallery-caption {
		width: 40vw;
	}
	.pageLinks {
		& li {
			width: 2.5rem;
			height: 2.5rem;
			font-size: 1.2rem;
		}
		& .span-page-num {
			position: relative;
			top: .4rem;			
		}		
	}
}

@media screen and(max-width:  $bp-medium) {
	.pageLinks {
		width: 90%;
	}
}

@media screen and (min-width: $bp-medium-small) {
	
	.gallery {
		// Responsive flexbox styles
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.gallery-item {
		padding: 20px;	
	}
  
	.gallery-img {
		min-width: 185px;
		max-width: 350px;		
	}
	.gallery-caption {
		max-width: 350px;
		min-width: 185px;
	}	
}


