/* 
The container box is relative so we can position stuff inside of it 
*/
.movie-container {
  position: relative;
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.movie-container__background,
.movie-container__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* 
The background image div sizes and positions the background itself.
It's also at the bottom-most position in our "div stack" (z-index 1)

We set the image url via a CSS custom property, that's set via the style attribute in our HTML
*/
.movie-container__background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: var(--image-url);
  
  animation: animatedBackground 30s linear infinite;
  -webkit-animation: animatedBackground 30s linear infinite;

  z-index: 1
}

.movie-img {
  width: 161px;
 height: auto;
}
/* 
The overlay div is just a colored element with some opacity.
It's above the background image in our stack, so it appears to 
darken the image 
*/
.movie-container__overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* 
The content div is at the top z-index 3.*/
.movie-container__content {
  position: relative;

  z-index: 3;
  
  color: white;
  background-color:rgba(51,50,50,0.5);
  height: 80vh;
  width: 60vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}
.btn {
    background-color: goldenrod;
    color: #fff;
    border: none;
    border-radius: 0;  
    font-size: .8rem;
    text-transform: uppercase;
    padding: .5rem .75rem;
    cursor: pointer;
    opacity: none;
    transition: all .2s;
    margin: 0 10px;
    &:hover {
      background-color: rgb(158, 120, 25);
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  
  @media screen and(max-width: $bp-medium)  {
    .movie-container__content {
      width: 90%;
      height: 90%;

      h1 {font-size: 2rem}
      h3 {font-size: 1.6rem}
      p {font-size: 1.4rem}
    }

    .movie-stats > div{
      padding: 3px 0;
      font-size: 1.4rem;
    }
  
  }

@keyframes animatedBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
