.footer {
  background-color: #263f44;
  background: -webkit-linear-gradient(59deg, #263f44, #16222A);
  background: linear-gradient(59deg, #517881, #263f44);
  min-height: 80px;
  height: 10vh;
  width : 100vw;
  font-size: 12px;
  color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &-logo {
    display: flex;   
    justify-content: center;   
    width: 20vw;
   

  }
  .tmdb-copyright {
    font-size: 12px;
  }

  img {
    width: 50px;
    height: auto;
    margin-right: 1rem;;

  }

  
}