.genre-list { 
  width: 15vw;
  min-width: 180px;
  color: goldenrod;
  background-color: rgb(70, 75, 60);

  
  
  ul { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin-top: 1rem;
    padding-left: 1rem;
    & li {
      padding: 2px;
      
  }
  a {
    text-decoration: none;
    color: goldenrod;
    font-size: 18px;
  }
}


}