.header {
  background-color: #263f44;
  min-height: 80px;
  height: 10vh;
  width : 100vw;
  color: #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border: 2px solid goldenrod;
  padding: 5px;
  margin-left: 1rem;
  font-size: 24px;
  // font-weight: bold;
  & a {
    text-decoration: none;
    color: white
  }
  & span {
    color: goldenrod;
    font-weight: bold;
  }
}
.select-view {
  margin-right: 2rem;
}
/////////////////////////////////////////////
// Search

.search {
  flex: 0 0 40%; //grow:shrink:basis
  //nested flexbox
  display: flex;
  align-items: center;
  justify-content: center;



  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    
    padding: .7rem 1rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all .2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color:  #ccc;
    }
  }

  &__input:focus + &__button { //input in focus select sibling
     background-color:  #f0eeee;

  }

  &__button {
    border: none;
    background-color: #f4f2f2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    
      height: 1rem;
      width: 1rem;
      fill:black;
      
  }
}
